<!--
  Prevent the view from caching
-->
<ion-view
  cache-view="false"
  view-title="Entradas">
  <ion-content class="padding">
    <h1 class="title">Entradas de doações</h1>
    <button class="button icon-left ion-plus button-positive" ng-click="openNovaEntradaModal()"> Nova entrada
    </button>
    <div>
      <div
        class="card"
        ng-repeat="operacao in operacoes">
        <a class="no-decoration">
          <div class="item item-body">
            <h2>{{ operacao.produto.descricao }}</h2>
            <p>{{ operacao.produto.validade | date:"dd 'de' MMMM yyyy" }}</p>
            <p>{{ operacao.quantidade }} {{ operacao.unidadeDeMedida}}</p>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
