<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Criar nova entrada</h1>
    <button class="button button-clear button-positive" ng-click="modalNovaEntrada.hide()">Cancelar</button>
  </ion-header-bar>

  <form ng-submit="createEntrada()">
    <ion-content>
      <div class="list">
<!--         <label class="item item-input item-stacked-label">
          <span class="input-label">Descrição</span>
          <input ng-model="novaEntrada.produto.descricao" type="text" placeholder="Descrição do produto">
        </label> -->
        <label class="item item-input item-select">
          <label class="input-label">Produto</label>
          <select ng-model="novaEntrada.produtoId">
            <option value="__new__">novo produto</option>
            <option ng-repeat="produto in produtosRegistrados" value="{{ produto._id }}">
              {{ produto.descricao }}
            </option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Validade</span>
          <input
            ng-model="novaEntrada.validade"
            required
            min="{{ today | date: 'yyyy-MM-dd' }}"
            type="date">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Quantidade</span>
          <input ng-model="novaEntrada.quantidade" type="number">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Unidade de medida
          </div>
          <select ng-model="novaEntrada.unidadeDeMedida">
            <option value="cx">Caixas</option>
            <option value="kg">Kg</option>
            <option value="sc">Sacos</option>
          </select>
        </label>
      </div>
    </ion-content>

    <div id="nova-entrada-submit" class="padding">
      <button class="button button-block button-positive" type="submit">
        Cadastrar nova entrada
      </button>
    </div>
  </form>
</ion-modal-view>