<!--
  Prevent the view from caching
-->
<ion-view
  cache-view="false"
  view-title="Distribuições">
  <ion-content>
  <h1 class="padding">{{ dataDate | date:"dd 'de' MMMM yyyy" }}</h1>
    <ion-list class="list">
      <ion-item
        class="item"
        ng-repeat="distAggregate in distAggregates | unique:'receptor'"
        type="item-text-wrap"
        href="#/tab/separacao/{{ dataDate }}/{{ distAggregate.receptor._id }}/{{ distAggregate.receptor.nome }}">
        {{ distAggregate.receptor.nome }}

        <span class="item-note" ng-switch="computeDistribuicaoAggregateStatus(distAggregate)">
          <span class="statusASeparar" ng-switch-when="a-separar">à separar</span>
          <span class="statusSeparando" ng-switch-when="separando">separando</span>
          <span class="statusProntoParaRetirar" ng-switch-when="separado">separado</span>
        </span>
		  </ion-item>
    </ion-list>
    <div ng-if="distAggregates.length === 0">
      nenhuma saída preparada
    </div>
  </ion-content>
</ion-view>