<ion-view
  cache-view="false"
  view-title="Preparar distribuição">
  <ion-content class="padding">

    <h1>{{ receptorName }} </h1>
    <p>à retirar em <b>{{ dataDeRetirada }}</b></p>

    <div>

      <div class="card" ng-repeat="distribuicao in distribuicoes">

        <div class="item">
          <h2>Produto: {{ distribuicao.produto.descricao }}</h2>
          <p>Validade: {{ distribuicao.produto.validade | date:'dd MMMM yyyy' }}</p>
          <p>Quantidade: {{ distribuicao.quantidade }} {{ distribuicao.unidadeDeMedida}}</p>
        </div>
          
        <div>
          <ion-checkbox
            ng-model="distribuicao.status"
            ng-true-value="'separado'"
            ng-false-value="'a-separar'">Separado</ion-checkbox>
        </div>
     
      
      </div>
      
    </div>

    <button class="button button-positive" ng-click="save()">
      Salvar
    </button>

    <button class="button" ng-click="cancel()">
      Cancelar
    </button>


  </ion-content>
</ion-view>