<!--
  Prevent the view from caching
-->
<ion-view
  cache-view="false"
  view-title="Saídas">
  <ion-content>
    <ion-list class="list">
      <div ng-if="saidas.length === 0">
        <p class="padding">Não há previsão de saídas</p>
      </div>

      <ion-item
        class="item"
        ng-repeat="saida in saidas"
        href="#/tab/saida/{{ saida.dataDeRetirada }}/{{ saida.receptor._id }}/{{ saida.receptor.nome }}">

        <h2>{{ saida.receptor.nome }}</h2>
        <p>{{ saida.dataDeRetirada | date:"dd 'de' MMMM yyyy" }}</p>
      </ion-item>
    </ion-list>



  </ion-content>
</ion-view>
