<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Entrada" icon-off="ion-log-in"grid icon-on="ion-log-in" href="#/tab/entradas">
    <ion-nav-view name="tab-entradas"></ion-nav-view>
  </ion-tab>

  <!-- Separacao Tab -->
  <ion-tab title="Separação" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/separacao">
    <ion-nav-view name="tab-separacao"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Saída" icon-off="ion-log-out" icon-on="ion-log-out" href="#/tab/saida">
    <ion-nav-view name="tab-saida"></ion-nav-view>
  </ion-tab>


</ion-tabs>
