/* Empty. Add your own CSS if you like */


.item-checkbox {
    color: #666;
    font-size: 14px;
}

a.no-decoration {
	text-decoration: none;
}

.statusASeparar {
	color: #ef473a; // assertive - red of ionic
} 

.statusSeparando {
	 color: #e6b500; // energized - yellow of ionic
}

.statusProntoParaRetirar {
	color: #28a54c; // balanced - green of ionic
}